@import "tailwindcss";

@theme {
  --font-sans: "Outfit", sans-serif;
  --color-obsidian: #0a0a0c;
  --color-card: #141417;
}

@layer base {
  :root {
    --background: #050505;
    --foreground: #e2e8f0;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased font-sans selection:bg-blue-500/30 selection:text-blue-100;
  }
}

@layer utilities {
  .glass-card {
    background: rgba(20, 20, 23, 0.7);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  }

  .text-shadow {
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  }

  /* Custom Scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.02);
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}